# Dependencies
node_modules/

# Build
dist/
dist-ssr/
*.local

# Env / secrets
.env
.env.*
!.env.example

# Logs & cache
logs/
*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

# Editor / tooling
.vscode/*
!.vscode/extensions.json
.idea/
.figma/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo
